doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    - let meta
    block meta
      - meta = {}

    -
      const defaults = Object.assign({
        title: "Wynem",
        description: "Wynem is a multipurpose discord bot that has a vast array of features for all sorts of purposes. From Moderation, to Fun, to Image Editing!",
        colour: "#6C80F6",
        image: "logo/logo.webp",
        icon16: "logo/logo_16.webp",
        icon32: "logo/logo_32.webp"
      }, meta)

      if ("icon" in meta) {
        defaults.icon16 = meta.icon
        defaults.icon32 = meta.icon
      }

    title=meta.title
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = `/assets/images/logo/${defaults.icon16}`)
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = `/assets/images/logo/${defaults.icon32}`)
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = defaults.title)
    meta(property = "og:description", content = defaults.description)
    meta(property = "og:image", content = `https://${self.domain}/assets/images/${defaults.image}`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/${defaults.image}`)
    - if ("image" in meta)
      meta(property = "twitter:card", content = "summary_large_image")
    meta(name = "theme-color", content = defaults.colour)
    meta(name = "viewport", content = "width=device-width")
    link(rel = "stylesheet", href = "/style.css")
    script(data-cfasync="false", type = "text/javascript", src = "https://code.jquery.com/jquery-3.6.0.slim.min.js")
    script(data-cfasync="false", src = "/script.js", type = "module")
    link(rel = "modulepreload", href = "/pages/home/page.js")
    link(rel = "modulepreload", href = "/js/libs/pages.js")
  body
    #header-container
      #header
        a.page-button.logo(href = "/", is = "f-a")
          img(src = "/assets/images/logo/logo.webp", width = "40", height = "40", alt = "logo")
          span
        a.page-button(href = "/features", is = "f-a"): span Features
        a.page-button(href = "/commands", is = "f-a"): span Commands
        .spacer
        a.page-button(href = `https://invite.${self.domain}/`, target = "_blank"): span Invite Wynem
        a.page-button(href = `https://discord.${self.domain}/`, target = "_blank"): span Discord Server
      .sidebar-button.hamburger-container.outside
        .hamburger
          .hamburger-line
    #sidebar
      a.page-button(href = "/", is = "f-a"): span Home
      .line
      a.page-button(href = "/features", is = "f-a"): span Features
      a.page-button(href = "/commands", is = "f-a"): span Commands
      .line
      a.page-button(href = `https://invite.${self.domain}/`, target = "_blank"): span Invite Wynem
      a.page-button(href = `https://discord.${self.domain}/`, target = "_blank"): span Discord Server
      .line
      a.page-button(href = "https://ewanhowell.com/", target = "_blank"): span Developer's Website
      .line
      a.page-button(href = "/cem", is = "f-a"): span Custom Entity Models
      a.page-button(href = "/cemanimation", is = "f-a"): span CEM Animation Doc
      .spacer
      .line
      .sidebar-link-icons
        a(href = "https://twitter.com/WynemBot", target = "_blank"): include /assets/images/svg/twitter.svg
      .line
      #bot-info-extra
      .line
      #bot-info
        #bot-info-image
          img(src = "/assets/images/logo/logo.webp", width = "40", height = "40", alt = "logo")
          #bot-info-status-icon
        #bot-info-status Status: 
          strong Online
    #content
    #footer-container
      #footer
        a.page-button(href = "https://twitter.com/WynemBot", target = "_blank"): include /assets/images/svg/twitter.svg
        a.page-button.footer-desktop(href = "https://ewanhowell.com/", target = "_blank"): span @ewanhowell5195
        .spacer
        a.page-button(href = "https://ko-fi.com/ewanhowell", target = "_blank"): span Donate
        a.page-button(href = "mailto:contact@wynem.com", target = "_blank"): span Contact
        a.page-button(href = "/privacy", is = "f-a"): span Privacy
        a.page-button(href = "/terms", is = "f-a"): span Terms